@import url('https://fonts.googleapis.com/css?family=Outfit:wght@100,200,300,400,500,600&display=swap');

a {
    text-decoration: none;
    color: white;
}
body {
    margin: 0;
    padding: 0;
    font-family: Outfit;
    display: flex;
}
html {
    scroll-behavior: smooth;
}

header {
    display: none;
}
.Header-elements {
    padding-top: 10px;
    height: 0px;
    transition: background 0.45s;
    border-radius: 0px 0px 10px 10px;
}
.Header-elements img {
    margin-right: 15px;
    vertical-align: center;
    width: 35px;
    height: 35px;
}
.Header-elements div {
    font-size: 26px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    height: 60px;
}

.SideBar {
    width: 250px;
    background-color: #549DF2;
    color: white;
    height: 100vh;
    padding-inline: 30px;
    overflow: hidden;
    box-shadow: 0px 4px 20px 6px rgba(0, 0, 0, 0.25);
}
.SideBar-logo {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}
.SideBar-elements span {
    vertical-align: center;
    display: inline-block;
    font-size: 28px;
}
.SideBar-questions, .SideBar-Tests{
    margin: 0 auto;
    display: flex;
    width: 200px;
    margin-bottom: 20px;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    transition: ease 200ms;
}
.SideBar-elements img {
    margin-right: 15px;
    vertical-align: center;
    width: 40px;
}
.SideBar-questions:hover, .SideBar-Tests:hover {
    cursor: pointer;
    background-color: rgb(70, 123, 214);
}

.Error-block {
    margin-top: 20px;
    text-align: center;
    font-family: Outfit;
}
.Error-block h1, .List-Error-block h1 {
    color: #549DF2;
    font-size: 60px;
}
.Error-block img {
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}
.Error-block img:hover {
    cursor: default;
    transform: scale(1);
}
.Error-block h2 {
    font-size: 24px;
}

.List-Error-block {
    margin-top: 80px;
    width: 40vw;
    height: 700px;
    box-shadow: 4px 4px 20px 3px rgba(0, 0, 0, 0.08);
    text-align: center;
}
.List-Error-block img {
    width: 200px;
    height: 200px;
    transition: ease 500ms;
}
.List-Error-block img:hover {
    transform: rotate(15deg);
}
.List-Error-block h2 {
    font-weight: 500;
    font-size: 28px;
    margin-top: 50px;
}
.List-Error-block h1 {
    font-weight: 500;
    padding-top: 30px;
    transition: ease 300ms;
}
.List-Error-block button:hover {
    background-color: rgb(70, 123, 214);
}
.List-Error-block button  {
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #549DF2;
    font-size: 32px;
    justify-content: center;
    margin: 0 auto;
    width: 250px;
    padding: 5px;
    font-family: Outfit;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 850px) {
    body {
        display: block;
    }
    header {
        height: 80px;
        width: 94%;
        display: block;
        line-height: 80px;
        background-color: #549DF2;
        color: white;
        padding-inline: 3%;
    }
    .Header-elements span {
        display: flex;
    }
    .Header-logo {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }
    .Header-logo img {
        cursor: pointer;
        width: 35px;
        height: 35px;
    }
    .Header-logo h1 {
        margin: 0px;
        font-size: 28px;
    }
    .Header-elements {
        border-top: solid white 2px;
        position: absolute;
        display: none;
        background-color: #549ef2;
        height: 200px;
        width: 94%;
        z-index: 100;
    }
    .SideBar {
        display: none;
    }
    .List-Error-block {
        margin: 0 auto;
        width: 90%;
    }
}
