@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');
body {
    color: black;
    background: linear-gradient(to right, #32c3ce, #5680da);
    grid-column: 1/12;
    font-family: Poppins;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.mainContainer {
    padding: 0.5em;
    display: grid;
    grid-column: 1/12;
}

.container {
    max-width: 380px;
    max-height: 500px;
    display: grid;
    grid-column: 3/6;
    background-color: white;
    padding-left: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.container p {
    font-size: 46px;
}

hr {
    width: 350px;
    color: rgb(0, 195, 255);
}

input {
    background-color: #32c4ce11;
    border-color: #439ce6;
    border-radius: 5px;
    padding: 0.5em;
    width: 350px;
}

#que {
    margin-bottom: 50px;
}

#createQUE {
    font-family: Kodchasan;
    color: black;
}

#create {
    max-height: 40px;
    border-radius: 5px;
    color: white;
    border-color: rgb(44, 136, 212);
    background-color: rgb(45, 148, 233);
    font-size: 24px;
    margin-top: 20px;
    width: 130px;
    padding: 0.2em;
    cursor: pointer;
}

#create:hover {
    background-color: rgb(44, 134, 194);
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

#deleteAll {
    font-family: Kodchasan;
    max-height: 40px;
    border-radius: 5px;
    border: none;
    color: rgb(82, 177, 255);
    background-color: rgb(28, 91, 143);
    font-size: 24px;
    margin-top: 20px;
    width: 150px;
    padding: 0.2em;
    cursor: pointer;
}

#deleteAll:hover {
    background-color: rgb(23, 77, 121);
}

#deleteLast {
    font-family: Kodchasan;
    max-height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    color: rgb(82, 177, 255);
    background-color: rgb(28, 91, 143);
    font-size: 24px;
    margin-top: 20px;
    width: 150px;
    padding: 0.2em;
    cursor: pointer;
}

#deleteLast:hover {
    background-color: rgb(23, 77, 121);
}

.questions {
    width: 250px;
    display: grid;
    grid-column: 6/9;
    background-color: white;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.test {
    height: 400px;
    margin-top: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 80px;
    margin-inline: 15px;
    margin-bottom: 0;
}



#testBtn {
    font-family: Kodchasan;
    padding: 0.6em;
    width: 200px;
    font-size: 24px;
    border: none;
    color: white;
    background-color: rgb(38, 135, 199);
    border-radius: 10px;
    cursor: pointer;
}

#testBtn:hover {
    background-color: rgb(36, 115, 180);
}

#showBtn {
    max-height: 60px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(38, 135, 199);
    font-size: 20px;
    width: 100px;
    padding: 0.2em;
    cursor: pointer;
}


#showBtn:hover {
    background-color: rgb(35, 125, 185);
}

#closeBtn {
    color: white;
    max-height: 60px;
    height: 40px;
    border-radius: 5px;
    border: none;
    border-color: green;
    background-color: rgb(33, 107, 156);
    font-size: 20px;
    width: 100px;
    padding: 0.2em;
    cursor: pointer;
}

#closeBtn:hover {
    background-color: rgb(23, 81, 119);
}

#testAns {
    margin-right: auto;
    margin-left: auto;
}

#madeBy {
    color: rgba(255, 255, 255, 0.274);
    margin-right: 20px;
    font-size: 14px;
    float: right;
}

@media (max-width: 850px) {
    .questions {
        display: grid;
        grid-column: 3/6;
        margin-top: 120px;
    }
    input {
        width: 250px;
    }
    body {
        font-size: 18px;
    }
    #testBtn {
        width: 150px;
        padding: 0.5em;
        font-size: 18px;
    }
    .test {
        height: 350px;
    }
    .container {
        padding-left: 10px;
    }
    hr {
        width: 280px;
    }
}
