@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');
body {
    grid-column: 1/12;
    font-family: Poppins;
    font-size: 21px;
    margin: 0;
    padding: 0;
}

.navbar a {
    font-family: Kodchasan;
    padding: 0.57em;
    margin-left: 55px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar {
    padding: 0.5em;
    background-color: rgb(54, 54, 54);
    width:auto;
}

.mainContainer {
    padding: 0.5em;
    display: grid;
    grid-column: 1/12;
}

.container {
    max-height: 500px;
    display: grid;
    grid-column: 3/6;
}

.container p {
    font-size: 46px;
    margin-top: 100px;
}

input {
    border-color: rgb(29, 177, 29);
    border-radius: 5px;
    padding: 0.5em;
    width: 350px;
}

#que {
    margin-bottom: 50px;
}

#create {
    max-height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(84, 212, 44);
    font-size: 24px;
    margin-top: 20px;
    width: 130px;
    padding: 0.2em;
    cursor: pointer;
}

#create:hover {
    background-color: rgb(80, 190, 47);
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

#deleteAll {
    max-height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 35, 35);
    font-size: 24px;
    margin-top: 20px;
    width: 130px;
    padding: 0.2em;
    cursor: pointer;
}

#deleteAll:hover {
    background-color: rgb(156, 42, 34);
}

#deleteLast {
    max-height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 35, 35);
    font-size: 24px;
    margin-top: 20px;
    width: 140px;
    padding: 0.2em;
    cursor: pointer;
}

#deleteLast:hover {
    background-color: rgb(156, 41, 33);
}

.questions {
    display: grid;
    grid-column: 6/9;
}

.test {
    height: 700px;
    background-color: rgb(233, 233, 233);
    margin-top: 100px;
    text-align: center;
}

#testBtn {
    padding: 0.5em;
    width: 100px;
    font-size: 18px;
    border: none;
    background-color: rgb(38, 199, 38);
    border-radius: 5px;
    cursor: pointer;
}

#testBtn:hover {
    background-color: rgb(36, 180, 36);
}
