@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kodchasan&display=swap');
body {
    color: white;
    background: linear-gradient(to right, #32c3ce, #5680da);
    grid-column: 1/12;
    font-family: Poppins;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.mainContainer {
    padding: 0.5em;
    display: grid;
    grid-column: 1/12;
}

.container {
    max-height: 500px;
    display: grid;
    grid-column: 3/6;
}

.container p {
    font-size: 46px;
    margin-top: 100px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    width: 350px;
}

#que {
    margin-bottom: 50px;
}

#createQUE {
    font-family: Kodchasan;
    color: white;
}

#create {
    max-height: 40px;
    border-radius: 5px;
    color: white;
    border-color: rgb(44, 136, 212);
    background-color: rgb(45, 148, 233);
    font-size: 24px;
    margin-top: 20px;
    width: 130px;
    padding: 0.2em;
    cursor: pointer;
}

#create:hover {
    background-color: rgb(44, 134, 194);
}

li {
    list-style-type: none;
    margin-bottom: 15px;
}

#deleteAll {
    max-height: 40px;
    border-radius: 5px;
    border: none;
    color: rgb(82, 177, 255);
    background-color: rgb(28, 91, 143);
    font-size: 24px;
    margin-top: 20px;
    width: 130px;
    padding: 0.2em;
    cursor: pointer;
}

#deleteAll:hover {
    background-color: rgb(23, 77, 121);
}

#deleteLast {
    max-height: 40px;
    display: inline-block;
    border-radius: 5px;
    border: none;
    color: rgb(82, 177, 255);
    background-color: rgb(28, 91, 143);
    font-size: 24px;
    margin-top: 20px;
    width: 140px;
    padding: 0.2em;
    cursor: pointer;
}

#deleteLast:hover {
    background-color: rgb(23, 77, 121);
}

.questions {
    display: grid;
    grid-column: 6/9;
}

.test {
    height: 700px;
    margin-top: 100px;
    text-align: center;
}



#testBtn {
    font-family: Kodchasan;
    padding: 0.6em;
    width: 200px;
    font-size: 24px;
    border: none;
    color: white;
    background-color: rgb(38, 135, 199);
    border-radius: 10px;
    cursor: pointer;
}

#testBtn:hover {
    background-color: rgb(36, 115, 180);
}

#showBtn {
    max-height: 90px;
    height: 70px;
    border-radius: 100px;
    border: none;
    background-color: rgb(207, 207, 207);
    font-size: 20px;
    width: 100px;
    padding: 0.2em;
    cursor: pointer;
}


#showBtn:hover {
    background-color: rgb(196, 196, 196);
}

#closeBtn {
    color: white;
    max-height: 90px;
    height: 70px;
    border-radius: 100px;
    border: none;
    border-color: green;
    background-color: rgb(88, 88, 88);
    font-size: 20px;
    width: 100px;
    padding: 0.2em;
    cursor: pointer;
}

#closeBtn:hover {
    background-color: rgb(71, 71, 71);
}

#testAns {
    margin-right: auto;
    margin-left: auto;
}

#madeBy {
    color: rgba(255, 255, 255, 0.274);
    margin-right: 20px;
    font-size: 14px;
    float: right;
}

@media (max-width: 750px) {
    .questions {
        display: grid;
        grid-column: 3/6;
        margin-top: 120px;
    }
}
